/* #h{
    color:blue;
    }

h1{
    color:red;
}

.green-text{
    color:green;
}

#h{
    color:yellow;
}                          */

/*#bg{
    background-color: red;
} */

/* #bg{
    background-image: url('CSSimage.jpg');
    background-repeat: no-repeat;
    background-position: 5% 10%;
    background-size:cover;
    background-attachment: fixed;
   
}  */

/*body{
    background-color: black;
}  */

/*#bg{
    background-color:lightcyan;
    background-image: url('CloudImage.png');
    background-repeat:no-repeat;
    background-size:cover;
}*/

/* #bg{
    background-color: lightgreen;
    background-image: url('1CSSimage.jpg'), url('2CSSimage.jpg');
    background-repeat: no-repeat;
    background-position:left top,right bottom ;
}     */

/* #border{
    border:5px solid green;
    }
*/

/*  #border{
    border:2px solid green;
    border-radius: 10px 20px 30px 2px;
    }    */

/*  #border{
       border:5px solid red;
       border-bottom-right-radius: 10px;
    } */  
    
/* #div1{
    background-color: blueviolet;
    height: 500px;
    width: 70 %;
    }    */

/* #div1{
    background-color: blueviolet;
    height:500px;
    width: 70 %;
    max-width: 500px;
    }    */

/*body{
    border:1px solid red;
}    
#div1{
    background-color: blueviolet;
    height: 50%;
    width: 70%;
    max-width: 500px;
}       */

/* body{
    border:1px solid red;
    height: 1000px;
}    
#div1{
    background-color: blueviolet;
    height: 50%;
    width: 70%;
    max-width: 1000px;
    min-height: 300px;
}   */

/* #div1{
    border:1px solid red;
    padding-top:50px;
    padding-bottom:20px ;
  }        */

/* #div1{
    border:1px solid red;
    padding-top:50px;
    padding-bottom:20px ;
    padding-right:10%;
    padding-left:20%;
  }      */


/* .div1{
    border:1px solid red;
    padding:25px 50px 30px 70px;
  }  */

/* .div1{
    border:1px solid red;
    padding:25px 50px 30px 70px;
}
body{
    border:5px dotted black;
} 
#marg{
    margin-top:50px;
    margin-bottom:20px;
    margin-left:60px;
    margin-right:10 %;
}            */

/* .div1{
    border:1px solid red;
    padding:25px 50px 30px 70px;
}
body{
    border:5px dotted black;
} 
#marg{
    margin:25px 12px 40px 60px;
}    */

/* .div1{
    border:1px solid red;
    padding:25px 50px 30px 70px;
}
body{
    border:5px dotted black;
} 
#marg{
    margin-top:-30px;
    margin-bottom:20px;
    margin-left:60px;
    margin-right:10%;
}       */

/* .div1{
    border:1px solid red;
    padding:25px 50px 30px 70px;
}
#marg{
   margin-top:50px;
}
#colsp{
    margin-bottom: 30px;
}      */

/* #text{
    width:500px;
    border:1px solid brown;
    color:red;
} */

/* #text{
    width:500px;
    border:1px solid red;
    color:green;
    text-align:right;
} */

/* #text{
    width:500px;
    border:1px solid red;
    color:green;
    text-align:justify;
} */

/* #text{
    width: 500px;
    height:300px;
    border:1px solid black;
}
img{
    border:1px solid red;
}            */

/* #text{
    width: 500px;
    height:300px;
    border:1px solid black;
}
img{
    border:1px solid red;
    vertical-align: middle;
}      */

/* #text{
    width:500px;
    height:300px;
    border:1px solid black ;
    text-decoration: underline;
}      */

/* #text{
    width:500px;
    height:300px;
    border:1px solid black ;
    text-transform:capitalize;
}     */


